.success-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.success-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.success-exit {
  opacity: 1;
  transform: translateY(0);
}

.success-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
