.fields {
  background-color: #151314;
  color: #ffffff;
  border: 1px solid #a0a0a0;
  border-radius: 0.4rem;
  outline: none;
  padding: 0.6rem;
  width: 100%; /* Use 100% to take full width of the container */
  max-width: 25rem; /* Maximum width */
  box-sizing: border-box; /* Ensure padding and border are included in the total width */
}

.fields:focus {
  border-color: #ffd700; /* Example color for focus:border-customYellow */
  background-color: #1c1b14; /* Example color for focus:bg-customDarkYellow */
}

.fields:hover {
  border-color: #ffd700; /* Example color for focus:border-customYellow */
  background-color: #1c1b14; /* Example color for focus:bg-customDarkYellow */
}

.fieldsCombo {
  background-color: #151314; /* Example color for bg-customGrey */
  color: #ffffff; /* Example color for text-white */
  border: 1px solid #a0a0a0; /* Example color for border-customLightGrey */
  border-radius: 0.4rem; /* Example value for rounded-s (based on your design) */
  outline: none; /* Removes default outline */
  padding: 0.6rem; /* Equivalent to p-1 (padding: 0.25rem) */
  width: 100%; /* Use 100% to take full width of the container */
  max-width: 25rem; /* Maximum width */
  box-sizing: border-box;
}

.fieldsCombo:focus {
  border-color: #ffd700; /* Example color for focus:border-customYellow */
  background-color: #151314; /* Example color for focus:bg-customDarkYellow */
}

.fieldsCombo:hover {
  border-color: #ffd700; /* Example color for focus:border-customYellow */
  background-color: #151314; /* Example color for focus:bg-customDarkYellow */
}
