/* Style for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #151314; /* Track color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0e0c0d; /* Thumb color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a; /* Darker thumb color on hover */
}

/* Firefox-specific scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #202020 #151314; /* Thumb color, Track color */
}
